img{
  width: 40vw;
  margin-left: 5vw;
  margin-top: 5vh;

}

.svg-filters {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

@font-face {
  font-family: "Art";
  src: url("assets/ArtDystopia.otf") format("opentype");
}
*{
  font-family: 'Art';
  font-size: 5vh;
  background-size:contain;
  background-repeat: no-repeat;
  text-transform: uppercase;


}

.text{

  color:rgba(255,105,180,1);
  font-size: 1em;
  background-color: rgba(0,0,0,0);
  text-align: center;
   text-shadow: 2px 1px rgba(255,105,180,0.5);
   align-content: center;
   align-items: center;
   margin-left: 15vw;



}

.distort{
  -webkit-filter: url("#filter");
  filter: url("#filter");
  z-index: -15;
  animation: pulse 8s infinite;

}

.body{
  display: flex;
  flex-wrap: wrap;

}


@keyframes pulse {
	0% {
		transform: scale(0.95);

	}

	50% {
		transform: scale(1);

	}

	100% {
		transform: scale(0.95);

	}
}
